Source: xdg-desktop-portal-gxde
Section: libdevel
Priority: optional
Maintainer: gfdgd xi <3025613752@qq.com>
Build-Depends:
  debhelper (>= 9),
  cmake, qtbase5-dev, qttools5-dev-tools
Standards-Version: 4.5.0

Package: xdg-desktop-portal-gxde
Architecture: any
Depends: 
  ${shlibs:Depends}, 
  ${misc:Depends}
Description: GXDE poortal backend for xdg-desktop-portal
  xdg-desktop-portal-gxde provide a GXDE implementation for the
  desktop-agnostic xdg-desktop-portal service. This allows sandboxed
  applications to request services from outside the sandbox using
  GXDE GUIs (app chooser, file chooser, print dialog) or using GNOME
  services (session manager, screenshot provider).
